*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.dashboardArea{
   
    width: 65vw;
    position: absolute;
    left: 20vw;
    top: 20vh;
    
}

.dashboardSimples{
    display: flex;
    justify-content: space-around;
}