@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Sedgwick+Ave&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neucha';
}

.maindivs{
  
  
}

body{
  background-color: #e8e8e8;
  max-width: 100%;
    overflow-x: hidden;
}